name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "cars-pawel-test-2" #Must be unique in Heroku
          heroku_email: "pawel@piekos.pl"
          usedocker: true
        env:
          DEBUG: ${{secrets.DEBUG}}
          SECRET_KEY: ${{secrets.SECRET_KEY}}
